/* Bootstrap */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

/* Angular Material theme */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Global styles */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background: #f8f9fa;
  color: #212529;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Reset de padding para body */
body {
  padding: 0 !important;
}
